body{
    background-color: rgb(35, 35, 123);
}

#fz-image {
    position: relative;
    bottom: 156px;
    right: 3px;
}

.nav-sections {
    position: relative;
    color: #dcdcdc;
    font-family: verdana;
    font-style: italic;
    text-shadow: 1px 5px 2px black;
}

#menu-box {
    display: flex;
    height: 156px;
    position: relative;
    background-image: linear-gradient(rgb(1, 5, 60), rgb(35, 35, 123));
}

#games {
    position: relative;
    bottom: 462px;
    left: 409px;
    color: #dcdcdc;
    font-family: verdana;
    font-style: italic;
    text-shadow: 1px 5px 2px black;
}

.image1 {
    position: relative;
    bottom: 26.5px;
}

.image2 {
    position: relative;
    bottom: 26.5px;
    right: 5.5px;
}

.image3 {
    position: relative;
    bottom: 26.5px;
    right: 11.5px;
}

.image4 {
    position: relative;
    bottom: 26.5px;
    right: 17px;
}

.image5 {
    position: relative;
    bottom: 26.5px;
    right: 22.5px;
}

.image6{
    position: relative;
    bottom: 26.5px;
    right: 28px;
}

#psa {
    background-color: rgb(248, 222, 126);
    position: relative;
    bottom: 478px;
    right: 3px;
    padding: 8px;
    font-size: 12pt;
}

#login-bar {
    display: flex;
    height: 30px;
    bottom: 478px;
    right: 3px;
    position: relative;
    background-image: linear-gradient(to bottom,hsl(0,-1%,70%),hsl(0,-1%,60%) 10%,white 40%,white 60%,hsl(0,-1%,50%) 90%,hsl(0,-1%,60%));
}

#social-icons {
    bottom: 503px;
    left: 9px;
    position: relative;
}

#login {
    bottom: 542px;
    left: 150px;
    position: relative;
}

.face{
    position: relative;
    left: 10px;
}

.yout{
    position: relative;
    left: 20px;
}

.twch{
    position: relative;
    left: 30px;
}

#welcome-news{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 300px;
    opacity: 0.4;
}

#under-construction {
    position: relative;
    left: 625px;
    bottom: 550px;
    font-size: 40pt;
    font-weight: 600;
}

#construction-image {
    position: relative;
    bottom: 300px;
}