body{
    background-color: rgb(35, 35, 123);
}

#fz-image {
    position: relative;
    bottom: 156px;
    right: 3px;
}

.nav-sections {
    position: relative;
    color: #dcdcdc;
    font-family: verdana;
    font-style: italic;
    text-shadow: 1px 5px 2px black;
}

#menu-box {
    width: 1305px;
    height: 156px;
    position: relative;
    background-image: linear-gradient(black, rgb(35, 35, 123));
}

#psa {
    background-color: rgb(248, 222, 126);
    position: relative;
    bottom: 160px;
    right: 3px;
    padding: 8px;
    font-size: 12pt;
}

#login-bar {
    width: 1308px;
    height: 30px;
    bottom: 160px;
    right: 3px;
    position: relative;
    background-image: linear-gradient(to bottom,hsl(0,-1%,70%),hsl(0,-1%,60%) 10%,white 40%,white 60%,hsl(0,-1%,50%) 90%,hsl(0,-1%,60%));
}

#social-icons {
    bottom: 185px;
    left: 9px;
    position: relative;
}

#login {
    bottom: 225px;
    left: 150px;
    position: relative;
}

.face{
    position: relative;
    left: 10px;
}

.yout{
    position: relative;
    left: 20px;
}

.twch{
    position: relative;
    left: 30px;
}

#welcome-news{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 100px;
    opacity: 0.4;
}

#under-construction {
    position: relative;
    left: 625px;
    bottom: 250px;
    font-size: 40pt;
    font-weight: 600;
}